<div>
  <input type="text" id="username" name="username" [(ngModel)]="subject">
  <button type="button" (click)="searchForSubject()">Search</button>
</div>
<div>
  <p>Language :
  <select [ngModel]="selectedLanguage" (ngModelChange)="changeSubjectLanguage($event)">
    <option *ngFor="let option of [LANGUAGE.FR, LANGUAGE.EN]" [value]="option" >{{option}}</option>
  </select>
</div>
<div>
  <p>Source :
  <select [ngModel]="selectedSourceName" (ngModelChange)="filterBySource($event)">
    <option *ngFor="let source of (sources$ | async)?.sources" [value]="source.name" >{{source.name}}</option>
  </select>
</div>
<div class="separation"></div>
<div *ngIf="(allNews$ |async)?.articles as allNews ; else loading">
  <div>
    <div *ngIf="allNews?.length === 0; else displayNews"> No result for {{this.subject}}</div>
    <ng-template #displayNews>
      <ng-container *ngFor="let newsElement of allNews">
        <app-news-element [news]="newsElement"></app-news-element>
      </ng-container>
    </ng-template>
  </div>
</div>
<ng-template #loading>
  <p> Loading ... </p>
</ng-template>
